// .wrapper {
//   width: 70vw;
//   height: 70vh;
//   margin: 0 auto;
//   background-color: red;
// }
#game_wrapper {
  position: absolute;
  top: 64px;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-field {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  height: 15rem;
  margin: 1%;
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  perspective: 25rem;
  cursor: pointer;

  &:hover > .card {
    transform: translateZ(2rem);
    box-shadow: 0 .5rem 1 rem rgba($color: #000000, $alpha: 0.5);
  }
  
  &.flipped > .card {
    transform: rotateY(180deg) translate(-100%);
    transform-origin: left;
  }
}

.card {
  position: relative;
  width: 10rem;
  height: 12rem;
  transform-style: preserve-3d;
  transform-origin: right;
  transition: all .5s;
  border-radius: .5rem;
  box-shadow: 0 .1rem .25rem black;
  background-position: center;
  background-size: cover;
  
  }

.card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 12rem;
  backface-visibility: hidden;
  border-radius: inherit;
  background-color: coral;
}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 12rem;
  backface-visibility: hidden;
  border-radius: inherit;
  background-color: grey;
  background-image: url(../images/front.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(180deg);

}
  // &__front,
  // &__back {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 10rem;
  //   height: 12rem;
  //   backface-visibility: hidden;
  //   border-radius: inherit;
  // }

  // &__front {
  //   background-color: coral;
  // }

  // &__back {
  //   background-color: grey;
  //   background-image: url(../images/front.jpg);
  //   background-position: center;
  //   background-size: cover;
  //   transform: rotateY(180deg);
  // }
